@media screen and (min-width: 1024px) {
  .main-container {
    min-height: 100vh;
    align-items: center;
    &::before {
      width: 40%;
      height: 700px;
      left: -14vw;
    }
    &::after {
      width: 40%;
      height: 700px;
      right: -14vw;
    }
  }
  .content-container {
    height: 600px;
    max-width: 850px;
    justify-content: space-between;
    padding-top: 0;
  }
  .mockup-container {
    margin-bottom: 0px;
  }
  .info-container {
    max-width: 430px;
    align-self: center;
    margin-bottom: 0px;
    .info__title,
    .info-content {
      text-align: left;
    }
  }
  .attribution {
    margin: 25px auto auto;
    position: absolute;
    bottom: 5vh;
    right: 9vw;
    width: 200px;
  }
}
