@media screen and (min-width: 1024px){
    .main-container{
        &::before, &::after{
            width: 90%;
            height: 700px;
        }

    }
    .content-container{
        max-width: 900px;
        justify-content: space-between;
    }
    .mockup-container{
        margin-bottom: 0px;
        max-width: 365px;
    }
    .info-container{
        align-self: center;
        text-align: left;
        margin-bottom: 0px;
    }
    .attribution{
        margin: 25px auto auto;
    }
}
