.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .mockup-container {
    border: 2px solid magenta;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .screen-container {
    border: 2px solid green;
    border-radius: 10px;
  }