* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

.main-container {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    height: 600px;
    width: 100%;
    @include gradient(90deg);
    border-radius: 0px 0px 1000px 1000px;
    position: absolute;
    top: 0;
    left: -50%;
    z-index: -5;
  }
  &::after {
    content: "";
    height: 600px;
    width: 100%;
    background-color: #f9f3fa;
    border-radius: 1000px 1000px 0px 0px;
    position: absolute;
    bottom: 0;
    right: -50%;
    z-index: -5;
  }
}

/* Mockup styles */
.content-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
  font-family: $fnt-family;
}

.mockup-container {
  width: 85%;
  max-width: 30rem;
  height: 60rem;
  border-radius: 50px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.screen-container {
  background-color: $bg-color-screen;
  border-radius: 35px 35px 45px 45px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 15px;
  overflow: hidden;

  /* Header mockup */
  .header-screen-container {
    width: 100%;
    border-radius: 35px 35px 5px 5px;
    @include gradient(-95deg);
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      width: 50%;
      align-self: flex-start;
      height: 25px;
      border-radius: 50px;
      background-color: #fff;
      transform: translateY(-35%);
    }
    .profile-container {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa {
        font-size: 12px;
        color: #fff;
      }
      .fa-ellipsis-v {
        color: $bg-color-screen;
      }
      .profile-data__image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }
    .profile-data-container {
      width: 70%;

      .profile-data__name {
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 3px;
      }
      .profile-data__status {
        font-size: 1rem;
        color: $sub-heading-top-section-screen;
      }
    }
  }
  /* Body (Chat) Mockup */
  .msg-left-container {
    width: 90%;
    .msg-left__content {
      background-color: #ede5f4;
      color: $color-chat-left;
      font-size: 0.9rem;
      width: 60%;
      line-height: 14px;
      padding: 8px 15px;
      border-radius: 15px 15px 15px 5px;
      margin-bottom: 10px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
    .msg-left__animate {
      @include animation-delay(10s);
    }
  }
  .msg-left-container-2 {
    .msg-left__content-2 {
      @include animation-delay(9s);
    }
  }
  .img-container {
    width: 90%;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;

    img {
      width: 40px;
      height: 40px;
      border-radius: 25%;
      @include animation-delay(6s);

      &:nth-child(2) {
        margin: 0px 10px;
      }
    }
  }
  .msg-right-container {
    @extend .msg-left-container;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    .msg-right__content {
      font-size: 0.9rem;
      width: 60%;
      line-height: 14px;
      padding: 8px 15px;
      border-radius: 15px 15px 5px 15px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      background-color: $bg-color-msg;
      color: #000;
      @include animation-delay(7s);

      &:nth-child(2) {
        width: 45%;
        @include animation-delay(8s);
      }
    }
  }
  .msg-price-container {
    @extend .msg-left-container;

    .msg-price__content {
      @extend .msg-left__content;
      @include gradient(95deg);
      color: #fff;
      font-weight: 400;
      height: 45px;
      width: 80%;
      display: flex;
      align-items: center;
      padding: 2px 5px 2px 10px;
      @include animation-delay(10s);

      &:last-of-type {
        @include animation-delay(11s);
      }

      .far {
        color: $bg-color-radio-btn;
        margin-right: 10px;
        font-size: 1.5rem;
      }
      .msg-price__price {
        font-weight: 900;
        display: inline-block;
        margin-left: auto;
        font-size: 1.6rem;
        margin-right: 15px;
      }
    }
  }
  .input-txt-container {
    width: 90%;
    background-color: #fff;
    padding: 5px 10px 5px 20px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
    @include animation-delay(12s);

    input {
      width: 80%;
      border: none;
      outline: none;
      &::placeholder {
        font-size: 1.1rem;
        color: $input-placeholder-color;
      }
    }
    .fa {
      background-color: $bg-color-submit-btn;
      border-radius: 50%;
      color: #fff;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
    }
  }
}
