* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
/* Mockup styles */
.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @include border(magenta);
  padding-top: 50px;
}

.mockup-container {
  @include border(green);
  width: 85%;
  max-width: 350px;
  border-radius: 25px;
  padding: 20px 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: $fnt-family;
}

.screen-container {
  @include border(blue);
  border-radius: 10px;
  background-color: burlywood;
  border-radius: 30px 30px 25px 25px;
}

/* Header mockup */
.header-screen-container {
  width: 100%;
  border-radius: 25px 25px 5px 5px;
  @include gradient(-95deg);
  @include border(orange);
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    width: 50%;
    align-self: flex-start;
    height: 25px;
    border-radius: 50px;
    background-color: black;
    transform: translateY(-50%);
  }
  .profile-container {
    width: 90%;
    @include border(orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    .fa {
      font-size: 16px;
      color: #fff;
    }
    .fa-ellipsis-v {
      color: $bg-color-screen;
    }
    .profile-data__image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
  .profile-data-container {
    width: 70%;
    @include border(orange);

    .profile-data__name {
      font-size: 1.6rem;
      color: #fff;
      margin-bottom: 5px;
    }
    .profile-data__status {
      font-size: 1.2rem;
      color: $sub-heading-top-section-screen;
    }
  }
}
/* Body Mockup */
.msg-left-container {
  width: 90%;
  @include border(blue);
  margin-left: 10px;
  .msg-left__content {
    background-color: #ede5f4;
    color: $color-chat-left;
    font-size: 1.1rem;
    width: 70%;
    line-height: 20px;
    padding: 6px 8px;
    border-radius: 15px 15px 15px 0px;
    @include border(red);
    margin-bottom: 15px;
  }
}
